.portal
node_modules
project/resources/public/js/core
project/resources/public/js/libs
project/resources/.DS_Store
*.DS_Store
.shadow-cljs
target
.clj-kondo/*
!.clj-kondo/config.edn
.cpcache
.lsp
.nrepl-port
.env
.calva
expert-lift.jar
*.md5
resources/public/js/core/labs.js
resources/public/js/core/manifest.edn
CLAUDE.local.md
democode3d
.claude/settings.local.json
.vscode/settings.json
.clerk
log.txt
.env.local
log.txt.tmp
